<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title class="bienvenidos" ><i>BYODT Administración</i></ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/login']" (click)="signOut()">
          <ion-icon style="font-size: 30px;" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="logo1">
          <img src="assets/fotos/logo.png" alt="Logo de la aplicación">
      </div>

      <ion-grid> 
          <ion-row>
              <ion-col>
                  <div class="container2">
                      <ion-button expand="block" routerLink="/cuentas" class="btn">
                          <ion-icon name="person-outline" slot="start"></ion-icon>
                          Usuarios y Cuentas
                      </ion-button>
                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <div class="container2">
                      <ion-button expand="block" routerLink="/proser" class="btn">
                          <ion-icon name="fast-food" slot="start"></ion-icon>
                          Productos y Servicios
                      </ion-button>
                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <div class="container2">
                      <ion-button expand="block" routerLink="/noticias" class="btn">
                          <ion-icon name="newspaper" slot="start"></ion-icon>
                          Noticias
                      </ion-button>
                  </div>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <div class="container2">
                      <ion-button expand="block" routerLink="/notificaciones" class="btn">
                          <ion-icon name="notifications" slot="start"></ion-icon>
                          Notificaciones
                      </ion-button>
                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-content>

  <ion-footer></ion-footer>
</div>
