<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title class="cuentas" ><i>Usuarios & Cuentas</i></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <!-- Lista de usuarios -->
  <ion-list lines="full">
    <ion-item *ngFor="let user of users" (click)="onSelectUser(user)" [class.selected]="selectedUser === user">
      <ion-label>{{ user.name }}</ion-label> 
    </ion-item>
  </ion-list>

  <!-- Detalles del usuario seleccionado -->
  <ion-card *ngIf="selectedUser" class="user-details">
    <ion-card-header>
      <ion-card-title>Detalles del usuario y su cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-label>Usuario:</ion-label>

      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="selectedUser.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Apellido:</ion-label>
        <ion-input [(ngModel)]="selectedUser.lastName"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Móvil:</ion-label>
        <ion-input [(ngModel)]="selectedUser.numContact"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="selectedUser.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Edad:</ion-label>
        <ion-input [(ngModel)]="selectedUser.age"></ion-input>
      </ion-item>

      <ion-label>Estado: Activada o Desactivada</ion-label>

      <ion-label>Cuenta:</ion-label>

      <ion-item>
        <ion-label>Tipo de Plan:</ion-label>
        <ion-input [(ngModel)]="selectedUser.planType"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de Inicio:</ion-label>
        <ion-input [(ngModel)]="selectedUser.startDate"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Fecha de Expiración:</ion-label>
        <ion-input [(ngModel)]="selectedUser.expiryDate"></ion-input>
      </ion-item>

      <!-- Botones -->

      <ion-button expand="full" (click)="updateUser()">Guardar cambios</ion-button>
      <ion-button expand="full" color="danger" (click)="deleteUserFromFirebase()">Eliminar usuario</ion-button>
      <ion-button expand="full">Activar</ion-button>
      <ion-button expand="full">Desactivar</ion-button>

    </ion-card-content>
  </ion-card>

 </ion-content>
 <ion-footer></ion-footer>
</div> 