<ion-header>
  <h2 class="centrar">
  BYODT ADMIN
  </h2>
  
</ion-header>

<ion-content  >

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()" >
      
      <div class="logo1">
        <img src="assets/fotos/logo.png" alt="Logo de la aplicación">
      </div>
       

      
        <app-custom-input 
      icon="mail-sharp" 
      autocomplete="email" 
      [control]="form.controls.email" 
      type="email"
      label="Correo"></app-custom-input>
      
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

        <div *ngIf="form.controls.email.errors?.['required']">Ingrese su correo</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo electronico valido</div>
      
      </div>
      
      <app-custom-input 
      icon="lock-closed-sharp"
      autocomplete="password" 
      [control]="form.controls.password" 
      type="password" 
      label="Contraseña">
    </app-custom-input>

    
    <div style="display: inline-block; width: 200px;">
      <ion-button class="submit" expand="block" node="ios" type="submit" [disabled]="form.invalid">Ingresar</ion-button>
    </div>
    </form>
  </div>

  
</ion-content>

