<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="mycolor">
      <ion-title class="cuentas" ><i>Noticias Youtube</i></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <Div class="centrar">
    <h1>Cambia el video del menu principal </h1>
  </Div>
  
  <ion-grid class="content-grid">
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <div class="url-input-container">
        <input type="text" placeholder="Ingrese nueva URL de YouTube">
        <div class="centrar">
          <ion-button>CAMBIAR</ion-button>
        </div>
      </div>
    </ion-col> 
  </ion-row>
</ion-grid>
</ion-content> 
<ion-footer></ion-footer>
</div>
